<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <title>Частные грузоперевозки | Ростов-на-Дону</title>
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link rel="stylesheet" href="css/main.css">
    <link rel="stylesheet" href="css/media.css">
	<link rel="shortcut icon"  href="favicon.ico">
    <svg width="0" height="0" class="hidden">
      <symbol xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 18 18" id="phone">
        <g clip-path="url(#a)">
          <path fill="#fff" d="M17.537 12.914L15.3 10.738c-.617-.6-1.621-.6-2.238 0l-1.017.99a1.224 1.224 0 0 1-1.695 0L5.94 7.434a1.143 1.143 0 0 1 0-1.649l1.017-.99a1.509 1.509 0 0 0 0-2.176L4.72.45c-.616-.6-1.62-.6-2.235 0l-.816.786a5.45 5.45 0 0 0 0 7.85l6.985 6.797c2.23 2.17 5.84 2.17 8.07 0l.813-.791c.617-.6.617-1.576 0-2.177zM3.23 1.176c.205-.2.54-.2.746 0l2.237 2.17a.5.5 0 0 1 0 .725l-.373.363-2.981-2.9.37-.358zM9.4 15.157L2.415 8.36a4.421 4.421 0 0 1-.29-6.088l2.972 2.892a2.147 2.147 0 0 0 .098 2.998l4.409 4.292a2.297 2.297 0 0 0 3.081.095l2.973 2.892a4.723 4.723 0 0 1-6.258-.283zm7.391-.791l-.372.362-2.984-2.902.373-.363c.206-.2.54-.2.746 0l2.237 2.177c.206.2.206.525 0 .726z"></path>
        </g>
        <defs>
          <clipPath id="a">
            <path fill="#fff" d="M0 0h18v17.509H0z"></path>
          </clipPath>
        </defs>
      </symbol>
      <symbol xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 22 22" id="ruble">
        <g fill="#DE5443" clip-path="url(#a)">
          <path d="M18.777 3.224a10.992 10.992 0 0 0-15.553 0 10.991 10.991 0 0 0 0 15.553 10.991 10.991 0 0 0 15.553 0 10.992 10.992 0 0 0 0-15.553zM11 20.192c-5.067 0-9.19-4.124-9.19-9.191C1.81 5.933 5.933 1.81 11 1.81c5.068 0 9.191 4.123 9.191 9.19 0 5.069-4.123 9.192-9.19 9.192z"></path>
          <path d="M12.376 5.508H9.165a.903.903 0 0 0-.904.904v3.685H7.33a.903.903 0 1 0 0 1.806h.932v.947H7.33a.903.903 0 1 0 0 1.806h.932v.932a.903.903 0 1 0 1.807 0v-.932h1.85a.903.903 0 1 0 0-1.806h-1.85v-.947h2.308a3.201 3.201 0 0 0 3.198-3.197 3.201 3.201 0 0 0-3.198-3.198zm0 4.589h-2.308V7.315h2.308c.767 0 1.391.624 1.391 1.39 0 .768-.624 1.392-1.39 1.392z"></path>
        </g>
        <defs>
          <clipPath id="a">
            <path fill="#fff" d="M0 0h22v22H0z"></path>
          </clipPath>
        </defs>
      </symbol>
    </svg>
</head>
<body>
    <div class="wrapper">
        <header>
            <div class="container">
                <div class="flex flex-header">
                    <div class="logou flex">
                        <div class="link"><a href=""><img src="img/logo.svg" alt=""></a></div>
                        <div class="slogan">Работаем по Ростовской обл. и Краснодару</div>
                    </div>
                    <div class="menu-phone">
                        <div class="phone flex jcfe">
                            <div class="ph">
                                <svg class="icon">
                                  <use xlink:href="#phone"></use>
                                </svg><a href="tel:8 (928) 614-96-90">8 (928) <strong>614-96-90</strong></a></div>
                            <div class="ph">
                                <svg class="icon">
                                  <use xlink:href="#phone"></use>
                                </svg><a href="tel:8 (961) 301-03-34">8 (961) <strong>301-03-34</strong></a></div>
                            <div class="callback">
                                <div class="btn"><a href=""><button>Обратный звонок</button></a></div>
                            </div>
                        </div>
                        <div class="menuha">
                            <ul>                                                  
                                <li class="active"><a href="">Бани Бочки</a></li>
                                <li><a href="">Купели</a></li>
                                <li><a href="">Чаны</a></li>
                                <li><a href="">Горячие акции</a></li>
                                <li><a href="">Наши работы</a></li>
                                <li><a href="">О компании</a></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </header>























    </div>  
    <script src="http://code.jquery.com/jquery-3.3.1.min.js" integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8="
          crossorigin="anonymous"></script>
	<script src="js/main.js"></script>
</body>
</html>