@import "base/variables";
@import "base/mixins";
@import "base/typography";
@import "base/manifest";
@import "vendor/normalize";
body {
    font-family: $font-text, Arial, sans-serif;
    width: 100%;
    height: 100%;
    line-height: 24px;
    font-size: rem(16);
    font-weight: 400;
    color: $text-color;
}
.wrapper{
	min-height: 100%;
	width: 100%;
}
section p{
    padding: 13px 0;
}
.nosvg{
	display: none;
}
aside{
	width: 100%;
}
.hidden{
	display: none;
}
.bg-proz{
	background-color: $bg-head-color;
}
header{
	background-color: $bg-head-color;
	position: relative;
	background: url(../img/bg-index.jpg) center no-repeat;
	width: 100%;
	min-height: 800px;
	.flex-header{}
	.logou{
		margin-top: 10px;
		color: #fff;
		.link{
			a{}
			img{
				width: 83px;
				height: 83px;
			}
		}
		.slogan{
			margin-left: 20px;
			max-width: 225px;
		}
	}
	.menu-phone{
		padding-top: 18px;
		min-height: 110px;

		color: #fff;
		.phone{}
		.ph{
			margin: 0 20px;
			a{
				line-height: normal;
				color: #ffffff;
				text-decoration: none;
				strong{
					font-size: 18px;
					font-weight: 500;
					font-style: normal;
				}
			}
			svg{
				width: 18px;
				height: 18px;
				margin-right: 10px;
			}
		}
	}
}
.jcfe{
	justify-content: flex-end;
}
.menuha{
	ul{
		list-style: none;
		margin: 0;
		margin-top: 10px;
		li{
			display: inline-block;
			margin: 0 17px;
			position: relative;
			a{
				color: #fff;
				text-decoration: none;
			}
			&:last-child{
				margin-right: 0;
			}
			&:first-shild{
				margin-left: 0;
			}
			&.active:after, &:hover:after{
				content: "";
				position: absolute;
				left: 0;
				right: 0;
				bottom: -18px;
				height: 5px;
				background-color: #fff;
			}
		}
	}
}
.utp{
	text-align: center;
	max-width: 999px;
	padding: 0 15px;
	margin-top: 75px;
	margin-left: auto;
	margin-right: auto;
	h1{
		text-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
		  font-size: rem(39);
		  font-weight: bold;
		  font-stretch: normal;
		  line-height: 1.19;
		  letter-spacing: 0.78px;
		  color: $h1-color;
		span{
			color: #fff;
		}
	}
	&-description{
		margin-top: 50px;
		font-size: 24px;
		font-weight: normal;
		font-stretch: normal;
		font-style: normal;
		line-height: 1.46;
		letter-spacing: normal;
		color: #ffffff;
		strong{
			font-weight: bold;
				color: $h1-color;
		}
	}
	.btn-big{
		margin-top: 70px;
		button{
			height: 53px;
  			border-radius: 50px;
		}
	}
	
}
.flex-cart-lp{
	justify-content: center;
}
.cart-lp{
	top: 70px;
	position: relative;
	.lp-item{
		margin-left: 15px;
		margin-right: 15px;
		max-width: 350px;
		width: 100%;
		min-height: 425px;
		position: relative;
		text-align: center;
		border-radius: 6px;
		  box-shadow: 0 7px 8px 0 rgba(0, 0, 0, 0.18);
		  background-color: rgba(126, 146, 51, 0.9);
		.img{
			position: absolute;
			top: 0;
			right: 0;
			bottom: 0;
			left: 0;
			img{
				max-width: 250px;
				width: 100%;
				height: auto;
				margin-left: auto;
				margin-right: auto;
			}
		}
		.ttl{
			text-align: center;
			h3{
				color: #fff;
			}
			margin-bottom: 30px;
		}
		.btn{
			a{
				color: #fff;
				button{}
			}
		}
		.oplet{
			position: absolute;
			right: 0;
			left: 0;
			bottom: 55px;
		}
	}
}
section{
	&.sale-index{
		.btn-index-sale{
			button{
				height: 50px;
				border-radius: 30px;
			}
		}
		.vilet-sale-index{
			min-height: 325px;
            background-color: $bg-color;
			.img{
				background-color: #fff;
				border-radius: 6px;
				padding: 15px;
				flex: none;
				@include shadow();
				img{
					max-width: 295px;
					width: 100%;
					height: auto;

				}
				margin: 15px 0;
			}
			.description{
				margin-left: 42px;
				.zag{
					 font-size: 26px;
					  line-height: 1.19;
					  color: rgba(126, 146, 51, 1);
									}
				.txt{

					p{
						line-height: 1.51;
					}
				}
			}
		}	
	}
    &.realjobs{
        .vilet-realjobs{
            .flex-realjobs:nth-child(2n){
                flex-direction: row-reverse;
            }
        }
        .row-real-jobs{
            background-color: $bg-color;
        }
        .oplet{
            padding: 25px 40px;
            position: relative;
        }
        .img{
            overflow: hidden;
            position: relative;
            max-height: 357px;
            img{
                @include shadow();
                max-height: 357px;
                height: 100%;
                width: auto;
                border-radius: 5px;
                min-width: 100%;
            }
        }
        .ttl-left{
            text-align: left;
            h3{
                 font-size: 26px;
                  font-weight: 500;
                  color: #b09a61;
            }
        }
        .txt{
            margin-top: 25px;
        }
        .foot{
            color: $btn-color;
            font-size: 18px;
            text-transform: uppercase;
            .cost{
                margin-top: 50px;
                svg{
                    position: relative;
                    top: 3px;
                    width: 21px;
                    height: 21px;
                    margin-right: 10px;
                }
                span{
                    font-weight: 500;
                }
            }
            .offer{
                margin-top: 10px;
            }
        }
    }
    &.about-index{
    	.description{
    		line-height: 1.73;
    	}
    	.ttl-ind{
    		margin-top: 10px;
    		font-size: 20px;
    		color: #7e9233;
    		h3{
    			font-weight: normal;
    		}
    	}
    	.flex-about-index{
    		margin-top: 45px;
    	}
    }
    &.advantages{
    	position: relative;
    	&:before{
    		content:"";
    		top: 120px;
    		right: 0;
    		left: 0;
    		position: absolute;
    		z-index: -1;
    		min-height: 400px;
  			background-color: $bg-color;
    	}
    	.vilet-advantages{
    	}
    	.list-advantages{
    		padding: 0;
    		margin: 0;
    		list-style: none;
    		list-style-type: none;
    		li{
    			font-size: 18px;
    			line-height:2.2em;
    			position: relative;
    			&:before{
    				content: "";
    				position: absolute;
    				left: -33px;
    				top: 14px;
    				width: 16px;
					height: 9px;
					background-color: #b09a61;
    			}
    		}
    	}
    	.img{
    		img{
    			max-width: 500px;
    			width: 100%;
    			height: auto;
    		}
    	}
        .decor{
            position: absolute;
            left: 0;
            top: 0;
            z-index: -1;
        }
    }
    
    &.video-triger{
        position: relative;
    	.flex-video-triger{
    		align-items: flex-start;
    	}
    	.video-integration{
    		iframe{
    			max-width: 100%;
    			width: 100%;
    			min-height: 330px;
    			border-radius: 6px;
    		}
    	}
    	.oplet-video{
    		margin-left: 30px;
    		position: relative;
    		.zag{
    			margin-top: 23px;
    			h3{
    				font-size: 26px;
					font-weight: 500;
					color: #7e9233;
    			}
    		}
    		.txt{
    			margin-top: 25px;
    			font-size: 18px;
    		}
    		.watch{
    			margin-top: 50px;
    			color: $btn-color;
    			position: relative;
    			&:after{
    				content:"";
    				position: absolute;
    				width: 38px;
    				height: 8px;
    				background:url(../img/arrow.svg) no-repeat;
    				bottom: -15px;
    				left: 0;
    			}
    		}
    	}
        .decor{
            position: absolute;
            right: 113px;
            bottom: 0;
            z-index: -1;
        }
    }
    &.femiliarity{
    	.vilet-femiliarity{

    	}
    	.txt{
    		line-height: 1.6;
    		border-radius: 6px;
  			background-color: $bg-color;
  			padding: 40px;
    	}
    	.video-femiliarity{
    		iframe{
    			max-width: 100%;
    			width: 100%;
    			min-height: 330px;
    			border-radius: 6px;

    		}
    	}
    }
    &.static-form{
    	.oplet{
    		background:url(../img/bg-form.png)center center no-repeat;
    		padding:70px 0;
    	}
    	.ttl{
    		h4{
	    		font-size: 26px;
				font-weight: normal;
				line-height: 1.19;
				color: #7e9233;
	    	}
    	}
    	.vilet-static-form{
    		padding: 23px 40px;
    		max-width: 925px;
    		width: 100%;
    		margin: auto;
    		margin-right: auto;
			min-height: 160px;
			border-radius: 6px;
			background-color: rgba(255, 255, 255, 0.92);
			@include shadow();
    		form{
    			margin-top: 25px;
    			input{
    				max-width: 320px;
    				width: 100%;
    				border-radius: 4px;
  					border: solid 1px #b1b1b1;
  					height: 50px;
  					margin-right: 18px;
  					padding: 0 15px;
    			}
    		}
    		.btn-transparent{
    			max-width: 180px;
    			button{
    				height: 50px;
    				border-radius: 40px;
    			}
    		}
    	}
    }
    &.choose-ban{
        position: relative;
        .vilet-choose-ban{
            align-items: flex-start;
        }
        .vilet-choose-ban-nav{
            border-radius: 4px;
            background-color: #f4f3f1;
            ul{
                padding: 0;
                margin: 0;
                list-style: none;
                li{
                    line-height: 3.18;
                    letter-spacing: normal;
                    padding: 0 35px;
                    color: #666564;
                    border-bottom: 1px solid #b1b1b1;
                    @include trans(0.4);
                    cursor: pointer;
                    &:last-child{
                        border: none;
                        border-bottom-left-radius: 4px;
                        border-bottom-right-radius: 4px;
                    }
                    &.active, &.active:hover{
                        background-color: #7e9233;
                        color: #fff;
                    }
                    &:hover{
                        background-color: #e2e2e0;
                    }
                    &:first-child{
                        border-top-left-radius: 4px;
                        border-top-right-radius: 4px;
                    }
                }
            }
        }
        .choose-ban-show{
            .img{
                img{
                    max-width: 300px;
                    width: 100%;
                    height: auto;
                }
            }
            .list{
                margin-top: 40px;
                ul{
                    margin: 0;
                    padding: 0;
                    list-style: none;
                    li{
                        line-height: 1.84;
                        span{
                            font-weight: 500;
                        }
                    }
                }
            }
        }
        .choose-ban-advanse{
            max-width: 517px;
            width: 100%;
            flex: none;
            border-radius: 4px;
            background-color: #f4f3f1;
            padding: 0 25px 35px 25px;
            &-forma, %extend-forma{
                ul{
                    list-style: none;
                    margin: 0;
                    padding: 0;
                    li{
                        display: inline-block;
                        padding: 8px 30px;
                        border-radius: 4px;
                        background-color: #f4f3f1;
                        text-align: center;
                        cursor: pointer;
                        @include trans(0.4);
                        img{
                            max-width: 90px;
                            width: 100%;
                            height: auto;
                        }
                        span{
                            display: block;
                        }
                        &.active, &.active:hover{
                            background-color: #7e9233;
                            color: #fff;
                        }
                        &:hover{
                            background-color: #e2e2e0;
                        }
                    }
                }
            }
            
            &-material{
                @extend %extend-forma;
                ul{
                    li{
                        margin-top: 10px;
                        img{}
                    }
                }
            }
            &-cost{
                font-size: 20px;
                span, b{
                    font-size: 24px;
                    font-weight: 500;
                    color: #7e9233;
                }
                b{
                    font-weight: bold;
                }
            }
            &-bay{
                justify-content: flex-start;
                margin-top: 15px;
                .btn-choose-ban-advanse-bay{
                    width: auto;
                }
                .link-credit{
                    margin-left: 40px;
                    a{
                        color: #b09a61;
                    }
                }
            }
        }
        .decor{
            position: absolute;
            left: 0;
            bottom: 0;
            z-index: -1;
        }
    }
    &.slider-plusky{
        width: 100%;
        height: 100%;
        object-fit: contain;
        position: relative;
        .slidos{
            height: 100%;
            .slide{
                min-height: 495px;
                height: 100%;
                background-color: rgba(176, 154, 97, 0.83);
                position: relative;
                .bold-txt{
                    position: relative;
                    top: 80px;
                    font-size: 39px;
                    font-weight: bold;
                    color: #fff;
                    line-height: 1.41;
                    letter-spacing: 0.78px;
                    strong{
                        color: $h1-color;
                        text-transform: uppercase;
                    }
                }
            }
        }
    }
    &.catalog{
        position: relative;
        .vilet-catalog{}
        .catalog-cart{
            background-color: #fff;
            margin: 0 10px;
            max-width: 270px;
            min-height: 416px;
            border-radius: 4px;
            @include shadow();
            text-align: center;
            position: relative;
            .img{
                max-width: 100%;
                width: 100%;
                max-height: 200px;
                height: auto;
                overflow: hidden;
                img{
                    max-width: 100%;
                    width: 100%;
                    height: auto;
                }
            }
            .catalog-cart-ttl{
                margin-top: 20px;
                padding: 0 20px;
                h4{
                    color: $bg-brawn-color;
                    font-size: 24px;
                    font-weight: 400;
                }
            }
            .flex-area{
                position: absolute;
                padding: 0 20px;
                left: 0;
                right: 0;
                bottom: 90px;
                .razn{
                    span{}
                }
                .plosh{
                    span{}
                }
            }
            .flex-cost{
                position: absolute;
                padding: 0 20px;
                left: 0;
                right: 0;
                bottom: 25px;
                .cost{
                    font-size: 19px;
                    color: $btn-color;
                }
                .more{
                    button{
                        cursor: pointer;
                        background: none;
                        border: none;
                        color: #b1b1b1;
                        font-size: 16px;
                        text-decoration: underline;
                    }
                }
            }
        }
        .decor{
            position: absolute;
            top: 0;
            left: 0;
            z-index: -1;
        }
    }
    &.review{
        position: relative;
        padding-bottom: 40px;
        .vilet-review{
            position: relative;
            .slider-reviewsha{
                max-width: 935px;
                margin: 0 auto;
                border-radius: 4px;
                position: relative;
                z-index: 2;
            }
            .flex-slude-rev{
                justify-content: flex-start;
            }
            .slude-rev{
                background-color: #fff;
                border-radius: 4px;
                @include shadow();
                .video{
                    max-width: 410px;
                    width: 100%;
                    position: relative;
                    z-index: 3;
                    height: 0;
                    position: relative;
                    padding-bottom: 25.25%;
                    iframe{
                        position: absolute;
                        left: 0;
                        top: 0;
                        width: 100%;
                        height: 100%;
                        border-top-left-radius: 4px;
                        border-bottom-left-radius: 4px;
                    }
                }
                .oplet-rev{
                    padding: 40px 60px;
                    .tt{
                        h4{
                            font-weight: 400;
                            font-size: 26px;
                            color: #7e9233;
                        }
                    }
                    ul{
                        list-style: none;
                        margin: 0;
                        padding: 0;
                        margin-top: 22px;
                        li{
                            line-height: 1.7;
                            strong{
                                margin-left: 20px;
                                font-weight: 500;
                            }
                        }
                    }
                }                
            }
            .arrows{
                position: absolute;
                top: calc(50% - 75px);
                
                cursor: pointer;
            }
            .next-arrow{
                right: 0;
            }
            .rev-arrow{
                left: 0;
            }
            .slick-dots{
                text-align: right;
                right: 35px;
                /* left: 200px; */
                max-width: 300px;
                }
            
        }
        &:before{
                content:"";
                position: absolute;
                top: 0;
                right: 0;
                bottom: 0;
                left: 0;     
                background: url(../img/bg-rev.png) center center no-repeat;
                background-size: 65% 95%;
            }
    }
    &.gallery{
        position: relative;
        width: 100%;
        .masonry-gallery{
            margin-left: auto;
            margin-right: auto;
            .grid-item{
                
                img{
                    max-width: 285px;
                    width: 100%;
                    height: auto;
                    
                }
            }
        }
        .decor-r{
            position: absolute;
            top: 0;
            right: 0;
            z-index: -1;
        }
        .decor-l{
            position: absolute;
            top: 0;
            left: 0;
            z-index: -1;
        }
    }
    &.sertify{
        padding: 40px 0;
        background-color: $bg-color;
        .vilet-sertify{
            .item-sert{
                margin: 0 7px;
                img{
                    max-width: 240px;
                    width: 100%;
                    height: auto;
                    
                }
            }
        }
    }
    &.contacts{
        width: 100%;
        min-height: 515px;
        position: relative;
        .posr{
            position: relative;
        }
        .cart-contacts{
            position: absolute;
            top: 60px;
            left: 0;
            max-width: 350px;
            min-height: 233px;
            border-radius: 4px;
            background-color: rgba(255, 255, 255, 0.96);
            padding: 20px 30px;
            .address{
                line-height: 1.6;
            }
            .phones, %extend-phone{
                margin-top: 15px;
                p{
                    line-height: 1.6;
                    padding: 0;
                }
                a{
                    font-size: 16px;
                }
            }
            .mail{
                @extend %extend-phone;
            }
        }
        .mapa{
            position: absolute;
            top: 0;
            right: 0;
            bottom: 0;
            left: 0;
        }
    }
}
footer{
	background-color: #1b1003;
	min-height: 200px;
	width: 100%;
	color: #666564;
	.menu{
		padding: 0 15px;
		li{
			padding: 0 10px;
			display: inline-block;
		}
	}
	ul{
		list-style: none;
		padding: 0;
		margin: 0;
		li{
			svg{
				width: 18px;
				height: 18px;
				margin-right: 10px;
			}
			a{
				color: #fff;
				text-decoration: none;
			}
		}
	}
	.offerta{
		border-top: 1px solid #32291f;
		text-align: center;
		.opl{
			max-width: 900px;
			margin-left: auto;
			margin-right: auto;
		}
		p{
			font-size: 13px;
			padding: 5px 0;
			line-height: 1.4;
			a{
				color: #3B71B2;
			}
		}
	}
}
.over{
    position: absolute;
    width: 100%;
    overflow: hidden;
    top: 0;
    right: 0;
    bottom: 0;
    height: 0;
    transition: all 0.6s;
}
.zet {
    height: 100vh;
}
.menuha-left {
    left: 0 !important;
}
.mmenuha {
    position: absolute;
    z-index: 999;
    top: 0;
    right: 0;
    left: 2000px;
    bottom: 0;
    background: #b09a61;
    padding: 0 20px;
    transition: all 0.6s;
    .mmenu {
        max-width: 600px;
        margin: 60px auto;
        position: relative;
        padding: 0;
        li{
            text-align: center;
            list-style: none;
            padding: 6px 0;
            border-bottom: 1px solid #ffc770;
            a {
                color: rgb(255, 255, 255);
                font-size: 1.375rem;
                font-weight: 600;
                text-decoration: none;
            }
        }
    }
}
#btn-no-menu {
    position: absolute;
    width: 45px;
    height: 45px;
    top: 20px;
    right: 20px;
    cursor: pointer;
    border-radius: 100%;
    border-width: 2px;
    border-style: solid;
    border-color: rgb(255, 255, 255);
    border-image: initial;
    transition: all 0.4s ease 0s;
    &:before {
        position: absolute;
        top: 19px;
        right: 3px;
        content: "";
        width: 35px;
        height: 2px;
        background: #fff;
        transform: rotate(-45deg);
    }
    &:after {
        position: absolute;
        top: 19px;
        right: 3px;
        content: "";
        width: 35px;
        height: 2px;
        background: #fff;
        transform: rotate(45deg);
    }
    &:hover {
        border-width: 2px;
        border-style: solid;
        border-color: rgb(255, 101, 99);
        border-image: initial;
        background: rgb(255, 199, 112);
    }
}
#mmenu{
    display: none;
    float: right;
    position: relative;
    top: 13px;
    right: 5px;
}
#mmenu svg{
    width: 30px;
    height: 20px;
}
.test-forma{
    margin-left: auto;
    margin-right: auto;
    z-index: 100010;
    position: relative;
    max-width: 1200px;
    width: 100%;
}
.marquiz__frame_open {
    display: block;
    width: 100%;
}

.catalog .slick-initialized .slick-slide {
    padding-top: 10px;
    padding-bottom: 15px;
    text-align: center;
}

.modal{
    max-width: 1100px;
    margin: 0 auto;
    position: relative;
}
.modal .modal-tb {
    display: table-cell;
    text-align: center;
    vertical-align: middle;
}
.modal .modal-tb .bg-modal {
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-image: url(../img/bg-modal1.png);
    background-position: center;
    background-repeat: no-repeat;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

.modal.m3 .modal-tb .modal-con {
    background-color: white;
    -moz-border-radius: 30px;
    -webkit-border-radius: 30px;
    border-radius: 6px;
    -moz-box-shadow: 1.5px 2.6px 103px rgba(0, 0, 0, 0.23);
    -webkit-box-shadow: 1.5px 2.6px 103px rgba(0, 0, 0, 0.23);
    box-shadow: 1.5px 2.6px 103px rgba(0, 0, 0, 0.23);
    max-width: 1240px;
    text-align: left;
    width: auto;
}
.modal.m3 .modal-tb .modal-con .cont-p1 {
    zoom: 1;
    padding: 25px 30px 30px 30px;
}
.modal.m3 .modal-tb .modal-con .cont-p1 .t2 {
    font-size: 30px;
    font-weight: 500;
    line-height: 35px;
    text-transform: uppercase;
    padding-bottom: 20px;
    text-align: center;
}
.modal.m3 .modal-tb .modal-con .cont-p1 .ll1 {
    
    width: 47%;
}
.modal.m3 .modal-tb .modal-con .cont-p1 .ll1 img {
    max-width: 100%;
    height: auto;
    display: block;
    width: auto;
    margin-bottom: 40px;
}
.modal.m3 .modal-tb .modal-con .cont-p1 .ll1 span {
    display: block;
    color: #ad7812;
    font-size: 20px;
    font-weight: 400;
    text-transform: uppercase;
    margin-bottom: 35px;
}
.modal.m3 .modal-tb .modal-con .cont-p1 .ll1 p {
    color: black;
    font-family: Open Sans;
    font-size: 14px;
    font-weight: 400;
}
.modal.m3 .modal-tb .modal-con .cont-p1 .rr1 {
    
    width: 50%;
}
.modal.m3 .modal-tb .modal-con .cont-p1 .rr1 .tb1 {
    padding: 24px;
    background: #f7f7f9;
    margin-bottom: 14px;
}
table {
    border-spacing: 0;
    border-collapse: collapse;
    width: 100%;
}
.modal.m3 .modal-tb .modal-con .cont-p1 .rr1 table {
    width: 100%;
}
.modal.m3 .modal-tb .modal-con .cont-p1 .rr1 table thead td {
    color: #b38333;
    font-family: Open Sans;
    font-size: 15px;
    font-weight: 700;
    padding-bottom: 20px;
}
.modal.m3 .modal-tb .modal-con .cont-p1 .rr1 table thead td:last-child {
    width: 95px;
    padding-left: 30px;
}
.modal.m3 .modal-tb .modal-con .cont-p1 .rr1 table tbody td {
    border-bottom: 1px solid #c6c6c6;
    font-size: 15px;
    color: #585f6e;
    font-family: Open Sans;
    font-weight: 400;
    padding: 7px 0;
    line-height: 19px;
}
.modal.m3 .modal-tb .modal-con .cont-p1 .rr1 table tbody td:last-child {
    padding-left: 30px;
    width: 95px;
}
.modal.m3 .modal-tb .modal-con .cont-p1 .rr1 table tbody td span {
    color: #b38333;
    font-size: 15px;
    font-weight: 700;
}
.modal.m3 .modal-tb .modal-con .cont-p1 .rr1 table tbody tr:last-child td {
    border: none;
}


















@media only screen and (max-width: 1200px){
    .menuha{
        display: none;
    }
    #mmenu{
        display: block;
    }
    .cart-lp .lp-item{
        max-width: 275px;
        min-height: 265px;
        margin: 11px;
    }
    .cart-lp .lp-item .img img {
        max-width: 150px;
    }
    .cart-lp .lp-item .oplet {
        bottom: 15px;
    }
    .flex-cart-lp{
        flex-wrap: wrap;
    }
    .cart-lp .lp-item .ttl {
        margin-bottom: 15px;
    }
    .flex-about-index{
    	flex-wrap: wrap;
    	justify-content: center;
    }
    .cart-about-index{
    	padding: 0 10px 40px 10px;
    }
}
@media only screen and (max-width: 1100px){
    section.choose-ban .choose-ban-show .list ul, section.choose-ban .vilet-choose-ban-nav ul li {
        padding: 0 15px;
    }
}
@media only screen and (max-width: 993px){
    .slogan, footer .menu{
        display: none;
    }
    section.advantages .list-advantages li{
        font-size: 16px;
        line-height: 1.9;
    }
    section.choose-ban .vilet-choose-ban{
        flex-direction: column;
        align-items: center;
    }
    section.choose-ban .vilet-choose-ban-nav ul{
        text-align: center;
    }
    section.choose-ban .vilet-choose-ban-nav ul li{
        display: inline-block;
        border: 1px solid #dedbdb;
        border-radius: 4px;
        margin: 2px 0;
        width: 24%;
    }
    section.choose-ban .vilet-choose-ban-nav ul li:last-child {
        display: none;
    }
    .choose-ban-show{
        width: 100%;
        .img{
            text-align: center;
        }
    }
    section.choose-ban .choose-ban-advanse{
        max-width: 100%;
    }
    .choose-ban-advanse{
        text-align: center;
    }
    .choose-ban-advanse-forma{
        margin-top: 10px;
    }
    .choose-ban-advanse-bay{
        justify-content: center;
    }
    .vilet-catalog{
        flex-wrap: wrap;
        justify-content: center;
    }
    section.catalog .catalog-cart {
        margin: 15px;
    }
    section.review:before{
            background-size: 100% 100%;
    }
    section.review .vilet-review .slude-rev .oplet-rev{
        padding: 40px 25px;
    }
    .vilet-sertify{
        flex-wrap: wrap;
        justify-content: center;
    }
    section.sertify .vilet-sertify .item-sert {
        margin: 15px;
    }
    .flex-modal{
        flex-direction: column;
        .ll1{
            width: 100% !important;
        }
        .rr1{
            width: 100% !important;
        }
    }
}
@media only screen and (max-width: 768px){
    .menu-phone{
        flex: 1;
    }
    header .menu-phone .phone{
        flex-direction: column;
        &>div{
            padding: 3px 0;
        }
    }
    header .menu-phone .ph a strong{
        font-size: 16px;
    }
    header .menu-phone .ph{
        margin: 0;
    }
    header .menu-phone{
        padding-top: 0;
    }
    #mmenu {
        top: -3px;
    }
    .utp h1 {
        font-size: 1.7rem;
        font-weight: 500;
    }
    .utp{
        margin-top: 25px;
    }
    .cart-lp{
        top: 30px;
    }
    .flex-vilet-sale-index{
    	flex-direction: column;
    	padding: 20px 0;
    }
    section.sale-index .vilet-sale-index .img{
    	text-align: center;
    	width: 100%;
    }
    section.sale-index .vilet-sale-index .description{
    	margin-left: 0;
    	padding: 0 15px;
    }
    section.realjobs .oplet {
    	padding: 10px 15px;

	}
    .vilet-advantages{
        flex-direction: column;
    }
    section.advantages:before {
        top: 0;
        height: 100%;
    }
    section.choose-ban .vilet-choose-ban-nav ul li {
        width: 32%;
    }
    .vilet-femiliarity{
        flex-direction: column;
    }
    .col-pol{
        width: 100%;
    }
    section.advantages .img{
        text-align: center;
    }
    .mt-ttl{
        margin-top: 70px !important;
    }
    .mt-block{
        margin-top: 50px !important;
    }
    .flex-slude-rev{
        flex-direction: column;
    }
    section.review .vilet-review .slude-rev .video{
        max-width: 100%;
        padding-bottom: 58.25%;
    }
    section.review .vilet-review .slude-rev .oplet-rev{
        width: 100%;
    }
}
@media only screen and (max-width: 650px){
    .cart-lp .lp-item{
        max-width: 45%;
    }
    .cart-lp .lp-item .ttl h3 {
        font-weight: 400;
        font-size: 18px;
    }
    section.realjobs .row-real-jobs, section.realjobs .vilet-realjobs .flex-realjobs:nth-child(2n){
    	flex-direction: column;
    }
    .col-pol{
    	width: 100%;
    }
    section.realjobs .oplet {
    	padding-bottom: 40px;
	}
	.cart-about-index {
	    padding: 0 10px 40px 10px;
	    max-width: 100%;
	    width: 100%;
	    .img{
	    	width: 100%;
	    	img{
	    		width: 100%;
	    		max-width: 100%;
	    		height: auto;
	    		border-radius: 6px;
	    		@include shadow();
	    	}
	    }
	}
    section.video-triger .flex-video-triger{
        flex-direction: column;
    }
    section.video-triger .oplet-video{
        margin-left: 0;
    }
    section.video-triger .oplet-video .watch:after{
        display: none;
    }
    section.video-triger .oplet-video .watch{
        margin-top: 8px;
    }
    section.choose-ban .vilet-choose-ban-nav ul li {
        width: 48%;
    }
    section.static-form .vilet-static-form form {
        flex-direction: column;
        input{
            margin: 0;
            margin-top: 7px;
        }
        & > div{
            margin-top: 20px;
        }
    }
    section.slider-plusky .slidos .slide .bold-txt{
        top: 40px;
        font-size: 28px;
    }
    section.catalog .catalog-cart{
        max-width: 100%;
        margin: 0;
    }
}
@media only screen and (max-width: 480px){
    header {
        background: url(../img/bg-index.jpg) center repeat;
    }
    .cart-lp .lp-item {
        max-width: 100%;
    }
    section.choose-ban .vilet-choose-ban-nav ul li {
        width: 100%;
    }
    section.static-form .vilet-static-form{
        padding-left: 15px;
        padding-right: 15px;
    }
    section.femiliarity .txt {
        padding: 20px 15px;
    }
    section.contacts .cart-contacts {
        top: 0;
    }
}