@import "base/variables";
@import "base/mixins";
@import "base/typography";
@import "base/manifest";
@import "vendor/normalize";
body {
    font-family: $font-text, Arial, sans-serif;
    width: 100%;
    height: 100%;
    line-height: 24px;
    font-size: rem(16);
    font-weight: 400;
    color: $text-color;
}
.wrapper{
	min-height: 100%;
	width: 100%;
}
section p{
    padding: 13px 0;
}
.nosvg{
	display: none;
}
aside{
	width: 100%;
}
.hidden{
	display: none;
}
.bg-proz{
	background-color: $bg-head-color;
}
header{
	background-color: $bg-head-color;
	position: relative;
	background: url(../img/bg-index.jpg) center no-repeat;
	width: 100%;
	min-height: 800px;
	.flex-header{}
	.logou{
		margin-top: 10px;
		color: #fff;
		.link{
			a{}
			img{
				width: 83px;
				height: 83px;
			}
		}
		.slogan{
			margin-left: 20px;
			max-width: 225px;
		}
	}
	.menu-phone{
		padding-top: 18px;
		min-height: 110px;

		color: #fff;
		.phone{}
		.ph{
			margin: 0 20px;
			a{
				line-height: normal;
				color: #ffffff;
				text-decoration: none;
				strong{
					font-size: 18px;
					font-weight: 500;
					font-style: normal;
				}
			}
			svg{
				width: 18px;
				height: 18px;
				margin-right: 10px;
			}
		}
	}
}
.jcfe{
	justify-content: flex-end;
}
.menuha{
	ul{
		list-style: none;
		margin: 0;
		margin-top: 10px;
		li{
			display: inline-block;
			margin: 0 20px;
			position: relative;
			a{
				color: #fff;
				text-decoration: none;
			}
			&:last-child{
				margin-right: 0;
			}
			&:first-shild{
				margin-left: 0;
			}
			&.active:after, &:hover:after{
				content: "";
				position: absolute;
				left: 0;
				right: 0;
				bottom: -18px;
				height: 5px;
				background-color: #fff;
			}
		}
	}
}
.utp{
	text-align: center;
	max-width: 999px;
	padding: 0 15px;
	margin-top: 75px;
	margin-left: auto;
	margin-right: auto;
	h1{
		text-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
		  font-size: rem(39);
		  font-weight: bold;
		  font-stretch: normal;
		  line-height: 1.19;
		  letter-spacing: 0.78px;
		  color: $h1-color;
		span{
			color: #fff;
		}
	}
}
.flex-cart-lp{
	justify-content: center;
}
.cart-lp{
	top: 70px;
	position: relative;
	.lp-item{
		margin-left: 20px;
		margin-right: 20px;
		max-width: 350px;
		width: 100%;
		min-height: 425px;
		position: relative;
		text-align: center;
		border-radius: 6px;
		  box-shadow: 0 7px 8px 0 rgba(0, 0, 0, 0.18);
		  background-color: rgba(126, 146, 51, 0.9);
		.img{
			position: absolute;
			top: 0;
			right: 0;
			bottom: 0;
			left: 0;
			img{
				max-width: 250px;
				width: 100%;
				height: auto;
				margin-left: auto;
				margin-right: auto;
			}
		}
		.ttl{
			text-align: center;
			h3{
				color: #fff;
			}
			margin-bottom: 30px;
		}
		.btn{
			a{
				color: #fff;
				button{}
			}
		}
		.oplet{
			position: absolute;
			right: 0;
			left: 0;
			bottom: 55px;
		}
	}
}
section{
	&.sale-index{
		
		.vilet-sale-index{
			min-height: 325px;
            background-color: $bg-color;
			.img{
				background-color: #fff;
				border-radius: 6px;
				padding: 15px;
				flex: none;
				@include shadow();
				img{
					max-width: 295px;
					width: 100%;
					height: auto;

				}
				margin: 15px 0;
			}
			.description{
				margin-left: 42px;
				.zag{
					 font-size: 26px;
					  line-height: 1.19;
					  color: rgba(126, 146, 51, 1);
									}
				.txt{

					p{
						line-height: 1.51;
					}
				}
			}
		}	
	}
    &.realjobs{
        .vilet-realjobs{
            .flex-realjobs:nth-child(2n){
                flex-direction: row-reverse;
            }
        }
        .row-real-jobs{
            background-color: $bg-color;
        }
        .oplet{
            padding: 25px 40px;
            position: relative;
        }
        .img{
            overflow: hidden;
            position: relative;
            max-height: 357px;
            img{
                @include shadow();
                max-height: 357px;
                height: 100%;
                width: auto;
                border-radius: 5px;
                min-width: 100%;
            }
        }
        .ttl{
            text-align: left;
            h3{
                 font-size: 26px;
                  font-weight: 500;
                  color: #b09a61;
            }
        }
        .txt{
            margin-top: 25px;
        }
        .foot{
            color: $btn-color;
            font-size: 18px;
            text-transform: uppercase;
            .cost{
                margin-top: 50px;
                svg{
                    position: relative;
                    top: 3px;
                    width: 21px;
                    height: 21px;
                    margin-right: 10px;
                }
                span{
                    font-weight: 500;
                }
            }
            .offer{
                margin-top: 10px;
            }
        }
    }
    &.about-index{
    	.description{
    		line-height: 1.73;
    	}
    	.ttl-ind{
    		margin-top: 10px;
    		font-size: 20px;
    		color: #7e9233;
    		h3{
    			font-weight: normal;
    		}
    	}
    	.flex-about-index{
    		margin-top: 45px;
    	}
    }
}
footer{
	background-color: #1b1003;
	min-height: 200px;
	width: 100%;
	color: #666564;
	.menu{
		padding: 0 15px;
		li{
			padding: 0 10px;
			display: inline-block;
		}
	}
	ul{
		list-style: none;
		padding: 0;
		margin: 0;
		li{
			svg{
				width: 18px;
				height: 18px;
				margin-right: 10px;
			}
			a{
				color: #fff;
				text-decoration: none;
			}
		}
	}
	.offerta{
		border-top: 1px solid #32291f;
		text-align: center;
		.opl{
			max-width: 900px;
			margin-left: auto;
			margin-right: auto;
		}
		p{
			font-size: 13px;
			padding: 5px 0;
			line-height: 1.4;
			a{
				color: #3B71B2;
			}
		}
	}
}